.person-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0rem 1rem 4rem;
}

.person-list__container {
	display: flex;
	flex-direction: column;
}

.person-card {
	position: relative;
	width: 32.6rem;
}

.card-list__container {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(32.6rem, 1fr));
	grid-gap: 5rem;
	grid-auto-flow: dense;
}

.person-list__title {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.person-list__title>h1 {
	font-size: 4rem;
}

.person-card>img {
	width: 100%;
}

.person-info {
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	bottom: 10%;
	left: 0;
	color: white;
	
}

.person-name {
	font-size: 1.8rem;
}

.person-position {
	font-size: 1.4rem;
}

.person-list__search-container {
	display: flex;
	justify-content: center;
}

.person-list__search-container>input {
	border: 1px solid black;
	border-radius: 5px;
	font-size: 2rem;
	padding: 0.5rem;
}

.person-card--hidden {
	display: none;
}